

<table>
    <thead>
        <tr>
            <th>Coffee Type</th>
            <th>Price</th>
            <th>Date</th>
            <th>Origin</th>
        </tr>
    </thead>
    <tbody>
        <% @sales.each do |s|%>
        <tr>
            <td> <%= s.coffee_type %> </td>
            <td> <%= s.price%> </td>
            <td> <%= s.date %> </td>
            <td> <%= s.origin %> </td>
        </tr>
        
        <% end %>
        
    </tbody>
</table>