<div class="container my-5">
  <div>
    <h2>Ventas mensuales de los ultimos 12 meses</h2>
    <%= column_chart @sales_grouped_by_month, stacked: true, prefix: "$",
    thousands: "," %>
  </div>
  <div>
    <h2>Cantidad de ventas mensuales de los ultimos 12 meses</h2>
    <%= column_chart @sales_grouped_by_number_of_sales, stacked: true, prefix:
    "Cantidad :", thousands: "," %>
  </div>
  <div>
    <h2>Promedio ventas mensuales de los ultimos 12 meses</h2>
    <%= column_chart @sales_grouped_by_month_average, stacked: true, prefix:
    "Promedio :", thousands: "," %>
  </div>
</div>
